{{- define "main" }}
    <div class="single">
        <div class="container">
            <a href="{{ .Site.BaseURL }}" class="homeLink">&larr; Home</a>
            <div class="leader">
                <h1>{{ .Title }}</h1>
                {{ if .Params.event_time }}
                <p>{{ dateFormat "Monday, Jan 2, 2006" .Params.event_date  }}</p>
                <p>{{ .Params.event_time }} CST</p>
                {{ end }}
            </div>
            
            <br>
            {{ .Content }}

            {{- partial "prevNextLinks.html" . -}}
            
        </div>
    </div>
    
{{- end }}